<div class="container text-center contact-section">
    <div class="d-flex justify-content-center align-items-center">
        <div class="contact-card card p-4 shadow-lg">
            <h3 class="text-center">CONTACT</h3>
            <hr>
            <form id="contactForm" action="https://formspree.io/f/xvgprvro" method="POST">
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Write your name here.." required>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Let us know how to contact you back.." required>
                </div>
                <div class="form-group mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="What would you like to tell us.." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary w-100">Send Message</button>
            </form>
            <div class="d-flex content-center mt-3" style="width: 500px;">    
                <span><i class="bi bi-envelope-fill"></i> sjcontactc@gmail.com</span>
            </div>
        </div>
    </div>
</div>
<div style="height: 50px;"></div>
