<div class="container home-section">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/images/PXL_20230716_092006199.MP (1).JPG" alt="Your Image Description" class="img-fluid rounded shadow-lg">
        </div>
        <div class="col-md-6 home-text">
            <h2 class="home-title">Welcome to My Portfolio</h2>
            <p class="home-description">
                I’m Sreejon Chowdhury, an IT Networking student at OTU. I am passionate about cybersecurity, networking, and cloud computing.
            </p>
            <p class="home-description">
                Explore my projects and get in touch if you have any questions or if you’re interested in collaborating.
            </p>
            <a href="#projects" class="btn explore-button">Explore My Work</a>
        </div>
    </div>
</div>
