<div class="container about-section">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 id="about-title" class="display-4">About Me</h2>
            <p id="about-description" class="lead">
                I'm passionate about cybersecurity, networking, and cloud computing. Currently, I'm in my 4th year of university, and I'm eager to apply my knowledge and skills in real-world scenarios.
            </p>
            <p id="about-description">
                I'm always excited to learn more and take on new challenges that push the boundaries of my expertise.
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/lab-photo.jpg" alt="Your Image Description" id="about-image" class="img-fluid rounded shadow-lg">
        </div>
    </div>
</div>
