<div class="container p-4 text-center projects-section">
    <h1 class="mb-5">Certifications</h1>
    <div class="row justify-content-center">
        <!-- Certification 1 -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 position-relative">
            <div class="card hover-card">
                <div class="badge bg-warning position-absolute top-0 start-0 m-2">WIP</div>
                <img src="/images/CompTIA_A_2Bce.png" class="card-img-top" alt="CompTIA A+">
                <div class="card-body">
                    <h5 class="card-title">CompTIA A+</h5>
                </div>
                <div class="card-reveal">
                    <p>Currently working on the CompTIA A+ certification, with plans to receive it during the winter break of 2024.</p>
                </div>
            </div>
        </div>

        <!-- Certification 2 -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 position-relative">
            <div class="card hover-card">
                <div class="badge bg-warning position-absolute top-0 start-0 m-2">WIP</div>
                <img src="/images/Become-a-Cisco-Certified-Network-Associate.png" class="card-img-top" alt="CCNA">
                <div class="card-body">
                    <h5 class="card-title">CCNA</h5>
                </div>
                <div class="card-reveal">
                    <p>Preparing for the Cisco Certified Network Associate (CCNA) certification, with plans to complete it during the winter break of 2024.</p>
                </div>
            </div>
        </div>

        <!-- Certification 3 -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 position-relative">
            <div class="card hover-card">
                <img src="/images/Screenshot 2024-08-03 161552-Photoroom.png" class="card-img-top" alt="CPR AED">
                <div class="card-body">
                    <h5 class="card-title">CPR AED</h5>
                </div>
                <div class="card-reveal">
                    <p>Received CPR AED certification in June 2024.</p>
                </div>
            </div>
        </div>
    </div>
</div>
