<div class="container-fluid text-white py-5" style="background-color: #2596be;">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-4">SOCIALS</h5>
            <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/sreejon-chowdhury-99953123b/" target="_blank" class="text-white"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://github.com/Esjeyy" target="_blank" class="text-white"><i class="bi bi-github"></i> GitHub</a></li>
            </ul>
        </div>
        <div class="col-md-4 border-start border-end">
            <h5 class="mb-4">LINKS</h5>
            <ul class="list-unstyled">
                <li><a href="#home" class="text-white"><i class="bi bi-house"></i> Home</a></li>
                <li><a href="#projects" class="text-white"><i class="bi bi-folder"></i> Projects</a></li>
                <li><a href="#certifications" class="text-white"><i class="bi bi-patch-check"></i> Certifications</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="mb-4">MISC</h5>
            <ul class="list-unstyled">
                <li><a href="#privacy" class="text-white">Privacy Policy</a></li>
                <li><a href="#terms" class="text-white">Terms of Service</a></li>
            </ul>
        </div>
    </div>
</div>
