<div class="container text-center projects-section">
    <h1 class="mb-5">My Projects</h1>
    <div class="row justify-content-center">
        <!-- Project 1 -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="https://drive.google.com/drive/folders/1ulv6afr7h5BXTOpq_73DMR3vVUZv46OC?usp=sharing" target="_blank" class="card-link">
                <div class="card hover-card">
                    <img src="/images/relational-database.jpg" class="card-img-top" alt="Database Icon">
                    <div class="card-body">
                        <h5 class="card-title">Machine Learning</h5>
                    </div>
                    <div class="card-reveal">
                        <p>This project involved developing a machine learning model to predict fat levels in various types of Canadian cheese. The KNN model achieved 94% accuracy after extensive data preprocessing.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Project 2 -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="https://drive.google.com/drive/folders/1Xp-GknhQriWGqhSGdm2TmHuh6Z7nxNmZ?usp=sharing" target="_blank" class="card-link">
                <div class="card hover-card">
                    <img src="/images/router.jpg" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Networking I</h5>
                    </div>
                    <div class="card-reveal">
                        <p>This project designed a network infrastructure for a mid-sized enterprise, focusing on VLAN segmentation, subnetting, and Layer 2/3 switch configurations. It was tested in a simulated environment to ensure reliability.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Project 3 -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="https://drive.google.com/drive/folders/1e1p9ruDiSZIfUgFJDqj7hMJMuRn4MbV8?usp=sharing" target="_blank" class="card-link">
                <div class="card hover-card">
                    <img src="/images/generic-building.jpg" class="card-img-top" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Networking II</h5>
                    </div>
                    <div class="card-reveal">
                        <p>This case study expanded on a network infrastructure by incorporating WANs, OSPF, BGP, and secure remote access through NAT and VPNs, alongside robust network monitoring tools.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
